/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-podcasts-305786 {
	border: 1px dotted #f00;
}

.wp-podcasts-305786-episodes-wrapper {
	margin: 1rem auto
}
.wp-podcasts-305786-episodes-wrapper .wp-podcasts-305786-episode-info .wp-podcasts-305786-episode-info-inner  .wp-podcasts-305786-episode-title{
	font-size: 110%;
}
.wp-podcasts-305786-episodes-wrapper .wp-podcasts-305786-episode-info .wp-podcasts-305786-episode-info-inner  .wp-podcasts-305786-episode-subtitle{
	font-size: 80%;
}

.wp-podcasts-305786-episodes-wrapper {
	display: flex;

	flex-direction: column;
	width: 100%;
}
.wp-podcasts-305786-episodes-wrapper.is-style-stacked {
	flex-direction: column;
	
}
.wp-podcasts-305786-episodes-wrapper.is-style-split{
	flex-direction: row;
}

.wp-podcasts-305786-episodes-wrapper.is-style-split .wp-podcasts-305786-episode-thumbnail {
	width: 50%;
	display: flex;
}
.wp-podcasts-305786-episodes-wrapper.is-style-split .wp-podcasts-305786-episode-thumbnail img {
	width: 100%;
	height: fit-content;
	align-self: center;
}
.wp-podcasts-305786-episodes-wrapper.is-style-split .wp-podcasts-305786-episode-info {
	margin-left: 2rem;
	width: 50%;
}